@charset "utf-8";

/* body {
  background-color: #fffeee;
}

h1 {
  color: #0bd;
}

p {
  font-size: 20px;
} */

html {
  font-size: 100%;
  background-color: #fffeee;
}

h1 {
  /* font-size: 2rem; */
  color: #0bd;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
  font-style: 20px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  color: navy;

}

p {
  /* font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", sans-serif ; */
  /* font-weight: bold; */
  font-size: 20px;
  line-height: 1.7;
  /* text-align: right; */
  color: rgba(10, 130, 165, .5)

}
